:root {
  --font-color: black;
  --bg-color: #1B3936;
  --font-colorLogo: #75FF69;
  --font-switzer: "Switzer", sans-serif;
  --font-boska: "Boska", sans-serif;
  --font-avenir: "Avenir", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: var(--font-switzer);
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  width: 80%;
  margin-left: 130px;
  margin-right: 130px;
}

#hero {
  height: 658px;
  width: 100%;
  background: var(--bg-color);
  position: relative;
}
#hero .overlay {
  position: absolute;
  top: 0;
  background-image: url("../images/hero_overlay.png");
  height: 658px;
  width: 100%;
  opacity: 0.2;
  z-index: 1;
}
#hero .nav nav {
  height: 33px;
  padding-top: 22px;
}
#hero .nav .left {
  float: left;
  overflow: hidden;
  width: 30%;
}
#hero .nav .left ul li {
  list-style: none;
  float: left;
}
#hero .nav .left ul li:nth-child(1) {
  margin-right: 54px;
}
#hero .nav .logo {
  float: left;
  overflow: hidden;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
#hero .nav .logo .text {
  margin-left: 10px;
}
#hero .nav .right {
  float: left;
  justify-content: end;
  width: 30%;
}
#hero .nav .right ul li {
  list-style: none;
  float: right;
}
#hero .nav .right ul li:nth-child(1) {
  margin-left: 54px;
}
#hero .nav a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-switzer);
  font-weight: 200;
  font-size: 16px;
  color: white;
}
#hero .circle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .circle .dashedCircle {
  position: relative;
  margin: 20px;
  height: 400px;
  width: 400px;
  background-image: url("../images/hero_image.png");
  border-radius: 50%;
  border-spacing: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .circle .dashedCircle:before {
  position: absolute;
  content: "";
  height: calc(100% + 350px);
  width: calc(100% + 450px);
  border: 2px dashed var(--font-colorLogo);
  top: -200px;
  left: -220px;
  border-radius: inherit;
  opacity: 0.5;
  background-size: contain;
}
#hero .hero_text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 602px;
  width: 40%;
  z-index: 3;
}
#hero .hero_text h1 {
  color: white;
  font-family: var(--font-boska);
  font-size: 180px;
  font-style: italic;
}
#hero .hero_text h1:nth-child(1) {
  margin-left: 40px;
}
#hero .hero_text h1:nth-child(2) {
  margin-top: -90px;
  margin-left: 170px;
  color: #75FF69;
}
#hero .hero_text h1:nth-child(3) {
  font-size: 32px;
  margin-top: -40px;
  margin-left: 230px;
}
#hero .hero_text h1:nth-child(4) {
  margin-top: -70px;
}
#hero .hero_text p {
  font-family: var(--font-switzer);
  font-weight: 200;
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: -25px;
}
#hero .hero_button {
  position: absolute;
  right: 210px;
  bottom: 240px;
}
#hero .hero_button .box {
  position: relative;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background: #919090;
}
#hero .hero_button .box .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  background: var(--font-colorLogo);
  height: 69.7px;
  width: 69.7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100% !important;
  z-index: 1;
}
#hero .hero_button .box .icon svg {
  height: 40px;
  width: 40px;
  color: var(--bg-color);
  margin-left: 4px;
}
#hero .extra_remove {
  position: absolute;
  bottom: -30px;
  height: 30px;
  width: 100%;
  background: white;
}
#hero .extra_remove .box {
  display: none;
}

#second_part {
  height: 578px;
  background: white;
  width: 100%;
  margin-top: 30px;
}
#second_part .parts {
  display: flex;
  flex-direction: row;
  margin-top: 107px;
}
#second_part .parts .left {
  width: 50%;
}
#second_part .parts .left p {
  padding-left: 18px;
  margin-top: 41.92px;
  font-family: var(--font-switzer);
  text-align: justify;
}
#second_part .parts .right {
  width: 50%;
  padding-left: 100px;
  margin-left: 150px;
}
#second_part .parts .right h1:nth-child(2) {
  margin-top: -20px;
  margin-bottom: 40px;
  font-family: var(--font-boska);
  font-size: 100px;
  font-weight: 700;
  color: var(--bg-color);
}
#second_part .parts .right h1:nth-child(1) {
  color: var(--bg-color);
  font-family: var(--font-avenir);
  font-size: 20px;
  font-weight: 400;
  color: var(--bg-color);
}
#second_part .parts .right h1 span {
  font-family: var(--font-avenir);
  font-size: 24px;
  font-weight: 500;
  margin-left: -17px;
}
#second_part .parts .right h1 span sup {
  font-size: 10px;
}

#third_part {
  height: 654px;
  background-image: url("../images/third_part_bg.png");
  width: 100%;
  background-size: cover;
}

#fourth_part {
  height: 900px;
  background: var(--bg-color);
  width: 100%;
  position: relative;
}
#fourth_part .overlay {
  position: absolute;
  top: 0;
  background-image: url("../images/hero_overlay.png");
  height: 100%;
  width: 100%;
  opacity: 0.2;
  z-index: 1;
}
#fourth_part .image {
  position: absolute;
  height: 100%;
  width: 100%;
}
#fourth_part .image .image_box {
  position: relative;
  height: 100%;
  width: 100%;
}
#fourth_part .image .image_box .image_one {
  position: absolute;
  background-image: url("../images/image_one.png");
  background-size: cover;
  width: 300px;
  height: 240px;
  top: 180px;
  left: 190px;
}
#fourth_part .image .image_box .image_one .overlay_image {
  background: rgb(27, 57, 54);
  background: linear-gradient(90deg, rgb(27, 57, 54) 1%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
}
#fourth_part .image .image_box .image_two {
  position: absolute;
  background-image: url("../images/image_two.png");
  background-size: cover;
  width: 300px;
  height: 350px;
  top: 80px;
  right: 180px;
}
#fourth_part .image .image_box .image_two .overlay_image {
  background: rgb(27, 57, 54);
  background: linear-gradient(90deg, rgb(27, 57, 54) 1%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 100%;
  transform: rotate(360deg);
}
#fourth_part .image .image_box .image_three {
  position: absolute;
  background-image: url("../images/image_three.png");
  background-size: cover;
  width: 300px;
  height: 340px;
  left: 170px;
  bottom: 90px;
}
#fourth_part .image .image_box .image_three .overlay_image {
  background: rgb(27, 57, 54);
  background: linear-gradient(90deg, rgb(27, 57, 54) 1%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
}
#fourth_part .image .image_box .image_four {
  position: absolute;
  background-image: url("../images/image_four.png");
  background-size: cover;
  width: 300px;
  height: 355px;
  right: 230px;
  bottom: 90px;
}
#fourth_part .image .image_box .image_four .overlay_image {
  background: rgb(27, 57, 54);
  background: linear-gradient(90deg, rgb(27, 57, 54) 1%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 100%;
  transform: rotate(360deg);
}
#fourth_part .text_box {
  position: absolute;
  text-align: center;
  margin-top: 30px;
}
#fourth_part .text_box h1 {
  font-family: var(--font-switzer);
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
  text-transform: uppercase;
  color: #0fc918;
  opacity: 0.9;
}
#fourth_part .text_box p {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  font-family: var(--font-boska);
  font-weight: 800;
  font-size: 50px;
  color: white;
}
#fourth_part .text_box p span {
  color: #4e706d;
}

#fifth_part {
  height: 700px;
  width: 100%;
  position: relative;
  padding-bottom: 215px;
}
#fifth_part .wave {
  background-image: url("../images/wave.png");
  background-size: cover;
  height: 190px;
  width: 100%;
  position: absolute;
  top: -290px;
  left: 0;
  right: 0;
  bottom: 0;
}
#fifth_part .text_box {
  margin-top: 100px;
}
#fifth_part .text_box h1 {
  font-family: var(--font-boska);
  font-style: italic;
  font-size: 70px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #1B3936;
}
#fifth_part .image {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;
  margin-top: 50px;
}
#fifth_part .image .image_one {
  width: 30%;
}
#fifth_part .image .image_one .image {
  background: url("../images/fifth_one.png");
  background-size: cover;
  height: 410px;
  width: 300px;
  position: relative;
}
#fifth_part .image .image_one .image h1 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-family: var(--font-boska);
  font-style: italic;
  opacity: 0.7;
}
#fifth_part .image .image_two {
  width: 40%;
}
#fifth_part .image .image_two .image {
  background: url("../images/fifth_two.png");
  background-size: cover;
  height: 550px;
  width: 450px;
  position: relative;
}
#fifth_part .image .image_two .image .content {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 25px;
}
#fifth_part .image .image_two .image .content .left {
  width: 70%;
}
#fifth_part .image .image_two .image .content .left h1 {
  font-family: var(--font-boska);
  font-style: italic;
  font-size: 70px;
  font-weight: bolder;
}
#fifth_part .image .image_two .image .content .left p {
  font-family: var(--font-switzer);
  size: 18px;
  opacity: 0.7;
}
#fifth_part .image .image_two .image .content .right {
  width: 20%;
  margin-top: 30px;
  margin-left: 30px;
}
#fifth_part .image .image_three {
  width: 30%;
}
#fifth_part .image .image_three .image {
  background: url("../images/fifth_three.png");
  background-size: cover;
  height: 410px;
  width: 300px;
  position: relative;
}
#fifth_part .image .image_three .image h1 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-family: var(--font-boska);
  font-style: italic;
  opacity: 0.7;
}

#footer_part {
  height: 350px;
  background: white;
  width: 100%;
}
#footer_part .parts {
  position: relative;
}
#footer_part .parts .bg {
  position: relative;
  display: flex;
  flex-direction: row;
}
#footer_part .parts .bg .left {
  height: 320px;
  background: #75FF69;
  width: 40%;
  position: relative;
}
#footer_part .parts .bg .left .content {
  position: absolute;
  left: 125px;
  bottom: 35px;
  width: 325px;
  height: 180px;
}
#footer_part .parts .bg .left .content h1 {
  font-family: var(--font-boska);
  font-size: 68px;
  font-weight: bolder;
  font-style: italic;
  color: #1B3936;
}
#footer_part .parts .bg .left .content p {
  font-family: var(--font-switzer);
  font-size: 16px;
  font-weight: 500;
  color: #1B3936;
}
#footer_part .parts .bg .left .content .icon {
  text-align: right;
}
#footer_part .parts .bg .left .content .icon svg {
  color: #000;
}
#footer_part .parts .bg .right {
  height: 320px;
  width: 60%;
  background: var(--bg-color);
  position: relative;
}
#footer_part .parts .bg .right .box {
  position: absolute;
  bottom: 35px;
  right: 50px;
  display: flex;
}
#footer_part .parts .bg .right .box .content:nth-child(1) {
  margin-right: 120px;
}
#footer_part .parts .bg .right .box .content .details p {
  font-family: var(--font-switzer);
  font-size: 16px;
  font-weight: 500;
  color: white;
}
#footer_part .parts .bg .right .box .content .details h1 {
  font-family: var(--font-boska);
  font-size: 68px;
  font-weight: bolder;
  font-style: italic;
  color: white;
  display: flex;
}
#footer_part .parts .bg .right .box .content .details h1 span {
  margin-top: 24px;
  margin-left: 20px;
}
#footer_part .footer_options ul {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
#footer_part .footer_options ul li {
  list-style: none;
  padding-left: 25px;
}
#footer_part .footer_options ul li a {
  text-decoration: none;
  color: black;
}